/* PROJETO WEB - ESTRUTURA DA MASTER PAGE */

.barra-fixa {
    position: fixed;
    left:0;
    width:100%;
    height: 81px;
    background-color: #ffffffdb;
    z-index: 100;
}

.content-wrap {
    max-width: 1024px;
    margin: auto;
    /* permite que elementos tenham posições ABSOLUTAS dentro do cabeçalho */
    position: relative;
}

/* CABEÇALHO  */
.cabecalho {
    height: 81px;
    width: 100%;
    border-bottom:1px solid #808080;
}

.logomarca {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
}

.barra-titulo {
    position: absolute;
    top: 0;
    left: 81px;
    bottom: 40px;
    right:0;
    height: 40px;
    padding: 8px;
    text-align:center;
    font-size:20px;
}

.barra-menu {
    position: absolute;
    top: 40px;
    left: 81px;
    right: 0;
    height: 40px;
    text-align: right;
}

    .barra-menu a {
        color: #333333;
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
        padding-bottom: 2px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
    }

        .barra-menu a:hover {
            color: black;
            border-bottom: 3px solid black;
        }

/* MENU PARA CELULAR **************************/
/* botões exibidos no menu mobile */

.menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0px;
    background-color: #ffffff;
    width: 70%;
    border-right: 1px solid #e2e2e2;
    z-index: 102 !important;
}

.menu-mobile a {
    width: 100%;
    display: inline-block;
    line-height: 40px;
    color: inherit !important;
    text-align: left;
    padding-left: 24px;
    text-decoration: none;
    font-size: 0.875em; /* 14px */
    font-weight: 600;
}

    .menu-mobile a:hover {
        background-color: #e2e2e2;
    }

.menu-mobile i {
    width: 26px;
    overflow: hidden;
    padding-right: 10px;
}

.menu-mobile-buttons {
    display: none;
    overflow: hidden;
    font-size: 1.3em;
    float: left;
}

    .menu-mobile-buttons i {
        line-height: 150%;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
    }

/* botão para fechar o menu mobile */
.menu-mobile-close {
    font-size: 1.4em;
    text-align: left;
    padding-left: 24px;
    border-bottom: 1px solid;
    border-bottom-color: black;
    height: var(--header-height);
}

    .menu-mobile-close i {
        line-height: 150%;
        cursor: pointer;
    }

.conteudo {
    min-height: 1300px;
}

.rodape {
    min-height: 300px;
    background-color: #dbdbdb;
    padding-top:30px;
}
