/***********************************************************
  CSS com classes para serem utilizadas em outros projetos.
  versão: 3-2025 - Diógenes de Oliveira
***********************************************************/

* {
    -webkit-box-sizing: border-box !important; /* Safari/Chrome */
    -moz-box-sizing: border-box !important; /* Firefox */
    box-sizing: border-box !important; /* IE8+/ Opera */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 150%; /* define a altura da linha de texto */
    color: #333333;
}

a {
    color: #3d7dc6;
    text-decoration: none;
}

    a:hover {
        color: #4a35c6;
        border-bottom: 1px solid #4a35c6;
    }


hr {
    height: 1px;
    border-width: 0;
    border-top: 1px solid;
    border-top-color: #bbbbbb;
    width: 100%;
    display: inline-block;
}


/* Instala a fonte open sans */
/*@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}
*/

/**************************************** 
 RECURSOS PARA LAYOUT EM COLUNAS 
*****************************************/
/* Linha para criar as colunas */
.row {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}


.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666666%;
}

.col-10 {
    width: 83.3333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

[class^="col-"] {
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

/**************************************** 
  box
*****************************************/

.box {
    height: 100%;
    position: relative;
}

.box-shadow {
    box-shadow: 2px 2px 4px #bbbbbb;
}

.box-footer {
    position: absolute;
    bottom: 14px;
}

.box-hover:hover {
    background-color: #eeeeee;
}

.padding-14 {
    padding: 14px;
}

.min-height-300px {
    min-height: 300px;
}

.border {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    height: 100%;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-120 {
    margin-top: 120px;
}

.margin-bottom-120 {
    margin-bottom: 120px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

/**************************************************************
CONTROLES DE FORMULÁRIOS
***************************************************************/

label {
    margin-top: 20px;
    display: block;
    max-width: 100%;
    font-size: 12px;
    text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="file"],
textarea,
select {
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
    color: #555555;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    resize: none;
    outline: none;
}

input[type="submit"],
input[type="button"],
input[type="file"],
button {
    margin-top: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    background-color: white;
    border-color: black;
    font-size: 16px;
    padding: 10px 20px;
    transition: border-color 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

    input[type="submit"]:hover,
    input[type="button"]:hover,
    button:hover {
        background-color: darkgrey;
        color: white;
    }

.botao {
    margin-top: 20px;
    background-color: #3d7dc6 !important;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 40px;
    padding: 8px;
    color: white;
}

    .botao:hover {
        background-color: #355bc6 !important;
        color: white;
    }

.btn-selected {
    background-color: black !important;
    color: white !important;
}

.botao-delete {
    background-color: #ff6a00 !important;
}

    .botao-delete:hover {
        background-color: #ff4500 !important;
    }

.botao-editar {
    background-color: #498b47 !important;
}

    .botao-editar:hover {
        background-color: #37a533 !important;
    }

.botao-inserir {
    background-color: #355bc6 !important;
}

    .botao-inserir:hover {
        background-color: #293b90 !important;
    }

.botao-cancelar {
    background-color: #ff0000 !important;
    color: white !important;
    border-color: black;
    transition: border-color 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

    .botao-cancelar:hover {
        background-color: darkred !important;
    }

.botao-fechar {
    background-color: black !important;
    color: white;
    font-family: Arial;
    font-size: 10px;
    transition: border-color 0.25s ease, background-color 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

    .botao-fechar:hover {
        background-color: grey !important;
    }




/**************************************************************
LAYOUT DE MíDIAS
tem que ser as ultimas definições
**************************************************************/
@media only screen and (max-width: 768px) {

    /* 
        SELETORES DE ATRIBUTOS [] 
        https://www.w3schools.com/css/css_attribute_selectors.asp 
    */
    body {
        margin-left: 18px;
        margin-right: 18px;
    }

    .margin-right-20 {
        margin: 0;
    }

    .border {
        border: 0;
    }

    .box-shadow {
        box-shadow: 0 0 0;
    }

    [class^="col-"] {
        width: 100%;
    }

    content-wrapper {
        padding: 0px;
        margin: 6px;
    }

    .box-border {
        border: 0px;
        padding: 0px;
    }

    .padding-14 {
        border: 0px;
        padding: 0px;
    }

    .dp-hr {
        display: inline-block;
    }

    /* FORMS ****************/

    .form-input {
        border: 0px;
        padding: 0px;
        padding-top: 20px;
        /*border-radius: 0;*/
    }

    .form-view {
        border: 0px;
        padding: 0px;
        padding-top: 1px;
        /*border-radius: 0;*/
    }

        .form-view .ht {
            display: none;
        }

    .side-panel {
        padding-left: 0 !important;
    }

    /* MENU RESPONSIVO ****************/
    .menu {
        display: none;
    }

    .menu-mobile-buttons {
        display: inline-block;
    }

    .logotype {
        float: right;
    }

    [class=logotype-img] {
        max-width: 240px;
    }
}

/* CONFIGURAÇÃO DA IMPRESSÃO */
@media print {
    body * {
        visibility: hidden;
    }

    #Printable * {
        visibility: visible;
    }
}


/* LOGO CENTRALIZADA */
.logomarca2 {
    display: flex;
    justify-content: center; /* Alinha horizontalmente no centro */
    align-items: center; /* Alinha verticalmente no centro */
    text-align: center; /* Alinha o texto no centro */
    margin: 0;
}

.logomarca img2 {
    max-width: 100%; /* A imagem não ultrapassará a largura da tela */
    height: auto; /* Mantém a proporção da imagem */
}
